<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/updatest/<%=edit._id%>?_method=PUT">
        <label>Name</label>
        <input name="name" type="text" placeholder="Name">
        <label> Age</label>
        <input name="age" type="number" placeholder="Age">
        <button>Edit</button>
    </form>
</body>
</html>